# .NET build results
bin/
obj/

# Configuration files
appsettings.json

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg

# Visual Studio Code workspace settings
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# Logs
*.log

# Publish output
publish/

# Entity Framework migrations
Migrations/

# Rider IDE files
.idea/

# Solucion files
*.sln

# Python virtual environment
.venv/
/venv
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables file
.env

